$tam-color: rgba(0, 137, 52, 0.9);
$bg-color: rgba(0, 190, 52, 0.4);
/* $glow-from:rgba(0, 150, 52, 0.7);
$glow-to:rgba(0, 220, 52, 0.9); */
$glow-from: rgba(0, 220, 52, 0.7);
$glow-to: rgba(0, 250, 52, 0.9);
/* $container-color-dark: rgba(7, 7, 6, 1); */
$container-color: transparent;

$white: #ffffff;
$red: #ed1b24;
$green: #00a652;
$blue: #2e3192;
$yellow: #fdaf17;

.container-tam {
  overflow: hidden;
  font-family: "Uchen", serif;
  background-color: $container-color;
  width: 100vw;
  height: 100vh;
}

.tam {
  text-align: center;
  text-rendering: optimizeLegibility;
  font-size: 12rem;
  /* color: rgba(0, 99, 38,1); */ /*orginal color*/
  /* color: $tam-color; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  /* z-index: 1; */
  animation: glow 3s ease-in-out infinite alternate;
  /* background-image: linear-gradient(
    to bottom,
    $red,
    $red 10%,
    $white 10%,
    $white 20%,
    $tam-color 20%,
    $tam-color 100%
  ); */
}

.moon-disc {
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  height: 20rem;
  width: 30rem;
  border-radius: 100rem;
  background: $white;
  filter: blur(1.5rem) brightness(1.5);
  /* filter: blur(1.5rem); */
  /* background: radial-gradient(ellipse, $white, $white 30%, orange 60%); */
  backdrop-filter: blur(10px);
  clip-path: ellipse(7rem 2.5rem);
  z-index: 5;
  transform: translateX(-50%) translateY(45%);
}

.center-circle {
  filter: blur(0.8rem) brightness(1.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  opacity: 0.3;
  /* TODO: opacity */
  animation: shrink-grow 20s ease-in-out infinite;
  border-radius: 100rem;
  z-index: 1;

  background-image: radial-gradient(
    circle,
    transparent 0%,
    transparent 30%,
    $blue 45%,
    $blue 51%,
    $green 51%,
    $green 56%,
    $red 56%,
    $red 61%,
    $yellow 61%,
    $yellow 66%,
    $white 66%
  );
}

.center-cirle-bg {
  background: repeating-conic-gradient(
    $white 0 6deg,
    $red 0 12deg,
    $green 0 18deg,
    $blue 0 24deg,
    $yellow 0 30deg
  );
  width: 22rem;
  height: 22rem;
  /* margin: 10rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100rem;
}
.tam-icon {
  z-index: 10;
  height: 30rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-10%);
  filter: blur(0.12rem) brightness(1.9);
  /* animation: glow 3s ease-in-out infinite alternate; */
}
.tam-icon svg {
  filter: drop-shadow(0 0 2rem #fff);
  /* transition: all 200ms; */
}

.tam-icon svg * {
  transition: all 200ms;
}
.fil1 {
  fill: $white;
  /* fill: #fffdfc; */
  fill-rule: nonzero;
}
.fil0 {
  /* fill: #fb0206; */
  fill: $red;
  fill-rule: nonzero;
}
.fil2 {
  /* fill: #17552a; */
  fill: $tam-color;
  fill-rule: nonzero;
}

.dark .fil1 {
  /* fill: $white; */
  fill: #fffdfc;
  fill-rule: nonzero;
}
.dark .fil0 {
  fill: #fb0206;
  /* fill: $red; */
  fill-rule: nonzero;
}
.dark .fil2 {
  fill: #17552a;
  /* fill: $tam-color; */
  fill-rule: nonzero;
}

.center-circle.animated {
  filter: blur(0.9rem) brightness(0.9);
  overflow: hidden;
  transform: translate(-50%, -55%) scale(0.3);
  opacity: 0;
  animation: scale 10s cubic-bezier(0.17, 0.67, 0.27, 0.24) infinite;
  /* background: radial-gradient(circle at center, transparent 0, $bg-color 60%); */
  background: repeating-conic-gradient(
    $white 0 6deg,
    $red 0 12deg,
    $green 0 18deg,
    $blue 0 24deg,
    $yellow 0 30deg
  );
}
.hamburger-container {
  cursor: pointer;
  position: absolute;
  /* TODO: check back */
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  opacity: 0;
  z-index: 100;
  transition: all 100ms ease;
}
.hamburger-container:hover {
  opacity: 1;
}
.hamburger-lines {
  margin-left: 0.5rem;
  z-index: 100;
}

.setting-board {
  margin-bottom: 1rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: rgba(20, 25, 20, 0.8);
  width: max-content;
  z-index: 90;

  /* Animation */
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms;
}
.setting-board.isOpen {
  opacity: 1;
  transform: translate(0, 0);
}
.setting-board ul {
  list-style-type: none;
  padding: 0;
}
.setting-board li {
  cursor: pointer;
}
.setting-board label {
  margin-left: 0.5rem;
}

.playback {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  position: absolute;
  /* TODO: postion: absolute */
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  z-index: 500;
}
.playback.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.playback:hover {
  border-color: transparent transparent transparent #404040;
  opacity: 1;
}

@keyframes shrink-grow {
  from {
    transform: translate(-50%, -55%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -55%) scale(1);
  }
  100% {
    transform: translate(-50%, -55%) scale(0.9);
  }
}

@keyframes scale {
  45% {
    opacity: 0.2;
    filter: blur(0.9rem) brightness(1.1);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -55%) scale(1.6);
    /* Old value:scale(1.5) */
    filter: blur(1rem) brightness(1);
  }
}
@keyframes glow {
  from {
    text-shadow:
      0 0 1rem #fff,
      0 0 2rem #fff,
      0 0 3rem $glow-from,
      0 0 4rem $glow-from,
      0 0 5rem $glow-from,
      0 0 6rem $glow-from,
      0 0 7rem $glow-from;
  }

  to {
    text-shadow:
      0 0 2rem #fff,
      0 0 3rem #ff4da6,
      0 0 4rem $glow-to,
      0 0 5rem $glow-to,
      0 0 6rem $glow-to,
      0 0 7rem $glow-to,
      0 0 8rem $glow-to;
  }
}
@media (min-width: 640px) {
  .tam {
    font-size: 18rem;
  }

  .moon-disc {
    clip-path: ellipse(11rem 3.125rem);
    background: radial-gradient(ellipse farthest-corner, white, transparent);
    filter: brightness(1.2) blur(1rem);
    transform: translateX(-49%) translateY(35%);
  }

  .center-circle {
    width: 60rem;
    height: 60rem;
  }

  .center-cirle-bg {
    width: 40rem;
    height: 40rem;
  }
}
