$tam-color: rgba(0, 137, 52, 1);
$bg-color: rgba(0, 190, 52, 0.4);
/* $glow-from:rgba(0, 150, 52, 0.7);
$glow-to:rgba(0, 220, 52, 0.9); */
$glow-from:rgba(0, 220, 52, 0.7);
$glow-to:rgba(0, 250, 52, 0.9);

.tam {
    text-align: center;
    text-rendering: optimizeLegibility;
    font-size: 18rem;
    /* color: rgba(0, 99, 38,1); */ /*orginal color*/
    color: $tam-color;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 10;
    animation: glow 3s ease-in-out infinite alternate;
  }
  .center-circle {
    /* background-color: rgba(34,34,34,1); */
    filter: blur(0.8rem) brightness(0.9);
    opacity: 0.8;
    background-color: $bg-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    border-radius: 100rem;
    border: 2rem solid $bg-color;
    width: 40rem;
    height: 40rem;
    opacity:0.6;
    animation: shrink-grow 20s ease-in-out infinite;
    /* transition-timing-function: ease-out; */
  }
  .center-circle.animated {
    filter: blur(0.9rem) brightness(0.9);
    overflow: hidden;
    transform: translate(-50%, -55%) scale(0.3);
    opacity: 0;
    animation: scale 10s cubic-bezier(.17,.67,.27,.24) infinite;
    background:radial-gradient(circle at center, transparent 0, $bg-color 60%)
  }
  .hamburger-container {
    cursor: pointer;
    position: absolute;
    /* TODO: check back */
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    opacity: 0;
    z-index:100;
    transition: all 100ms ease;
}
.hamburger-container:hover {
    opacity:1
}
.hamburger-lines {
    margin-left:0.5rem;
    z-index:100;
}

.setting-board {
    margin-bottom: 1rem;
    color:white;
    padding: 1rem 2rem;
    border-radius:1rem;
    background: rgba(20,25,20,0.8);
    width: max-content;
    z-index:90;

    /* Animation */
    opacity:0;
    transform:translateY(100%);
    transition: all 500ms;
}
.setting-board.isOpen {
    opacity: 1;
    transform:translate(0,0)
}
.setting-board ul {
    list-style-type: none;
    padding: 0;
}
.setting-board li {
    cursor: pointer;
}
.setting-board label {
    margin-left: 0.5rem;
}

.playback {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    position: absolute;
    /* TODO: postion: absolute */
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
  }
  .playback.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }
  .playback:hover {
    border-color: transparent transparent transparent #404040;
    opacity: 1;
  }

  @keyframes shrink-grow {
    from {
        transform: translate(-50%, -55%) scale(0.9);
    }
    50% {
      transform: translate(-50%, -55%) scale(1);

    }
    100% {
        transform: translate(-50%, -55%) scale(0.9);

    }
  }

  @keyframes scale {
    45% {
        opacity:0.8;
        filter: blur(0.9rem) brightness(1.1);
    }

    to {
      opacity:0.0;
      transform: translate(-50%, -55%) scale(1.5);
      filter: blur(1rem) brightness(1);
    }
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 1rem #fff, 0 0 2rem #fff, 0 0 3rem $glow-from,
        0 0 4rem $glow-from, 0 0 5rem $glow-from,
        0 0 6rem $glow-from, 0 0 7rem $glow-from;
    }

    to {
      text-shadow: 0 0 2rem #fff, 0 0 3rem #ff4da6,
        0 0 4rem $glow-to, 0 0 5rem $glow-to,
        0 0 6rem $glow-to, 0 0 7rem $glow-to,
        0 0 8rem $glow-to;
    }
  }
